body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ensure the body takes the full height of the viewport */
    margin: 0; /* Remove default margin */
    font-family: 'Major Mono Display', monospace; /* Apply the custom font */
    background-color: #3E5C76;
    color: #F0EBD8;
}

#navBtns {
    display: flex;
    flex-direction: column; /* Stack the buttons vertically */
    align-items: center;
}


.sBtn {
    margin: 0; /* Remove default margin */
}

/* Ensure h1 in the main span is centered as well */
#head {
    text-align: center;
}
