body {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-color: #3E5C76;
    color: #F0EBD8;
    font-family: 'Rubik Mono One', monospace;
}

#title {
    font-family: 'Major Mono Display', monospace;
    font-size: 50px;
}

#name {
    font-style: underline;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
 
    padding: 10px 10px
}

#name, #prevalance, #temperment, #locations, #saltFreshOrBoth,  #description, #difficulty, #bowSpear, #baitLure  {
    padding: 12px;
    
}

#favoriteFoods, #description, #baitLure, #rundown {
    border: 2px solid #0D1321;
    padding: 12px;
}

#rundown {
 padding: 12px;
}


#name {
    font-size: larger;
}

#favouriteFoods {
    display: flex;
    justify-content: center;
}

.fishingImg {
    margin: 10px 0px;
}

.hidden {
    display: none;
}

.placeholder {
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

.inner-content {
    margin-top: 5px;
}

